/__pycache__/
*.pyc
/dist/
/*.egg-info
/build/
/source/
Makefile
TODO
*.sav
/doc/build/
/gitignored/
/tests/test-models/*.png
/tests/old-models/
/tmp/
# temporarily "stashed" files
test-default-arrow.svg
more-examples/elementary-geometry.py
